<%= form_for(zombie) do |form| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

  <div class="field small-15 large-6 columns">
    <%= form.label :name %>
    <%= form.text_field :name, id: :zombie_name %>
  </div>

  <div class="field small-15 large-6 columns">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :zombie_bio %>
  </div>

  <div class="field small-15 large-6 columns">
    <%= form.label :age %>
    <%= form.number_field :age, id: :zombie_age %>
  </div>

  <div class="field small-15 large-15 columns">
    <%= form.label :email %>
    <%= form.text_field :email, id: :zombie_email %>
  </div>

  <div class="field small-15 large-15 columns">
    <%= form.label :rooten %>
    <%= form.check_box :rooten, id: :zombie_rooten %>
  </div>
  <div class="field small-15 large-15 columns">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :zombie_avatar %>
    
  </div>

 <div class="actions small-15 large-15 columns">
   <%= form.submit class:'hollow button success'%>
  </div>

  </div>
  
<% end %>
